<div style="cursor:pointer;user-select: none;">If life is a game here is the rule</div>

<div class="btn" (click)="translate.use('en')" >English</div>
<div class="btn" (click)="translate.use('fr')">France</div>
<div>
    <p>{{ 'HOME.TITLE' | translate }}</p>
    <pre>1. {{translate.getDefaultLang()|json}}</pre>
    <p>2. {{translate.getLangs()|json}}</p>
    <p>4. {{translate.getBrowserLang()}}</p>
</div>

<!-- displaying input PDF file -->
<div>
    <label>Resource File: </label>
    <input
        id="param.docFile"
        name="param.docFile"
        (change)="param.docFile = $event.target.files[0]"
        type="file"
        accept="image/*,application/pdf"
        required>
    <div class="btn" (click)="uploadFile()" >Upload</div>
</div>
<ngx-imageviewer *ngIf="param.docFile" [src]="param.docFile"></ngx-imageviewer>

<!-- displaying PDF file with URL provided -->
<ngx-imageviewer [src]="param.imgUrl"></ngx-imageviewer>